set autoindent
set boldtext
set const
set historylog
set morespace
set smooth
set regexp
set fill 72
set multibuffer
set suspend
set nowrap

syntax "pkgbuild" "^.*PKGBUILD$"
color green start="^." end="$"
color cyan "^.*(pkgname|pkgver|pkgrel|pkgdesc|force|url|license|install|source|md5sums|groups|backup|depends|makedepends|conflicts|provides|replaces).*=.*$"
color brightcyan "\<(pkgname|pkgver|pkgrel|pkgdesc|force|url|license|install|source|md5sums|groups|backup|depends|makedepends|conflicts|provides|replaces)\>"
color cyan "\.install"
color brightwhite "=" "'" "\(" "\)" "\"" "#.*$" "\," "\{" "\}"
color brightcyan "(\$|\$\{|\$\()(pkgname|pkgver|pkgrel|pkgdesc|force|url|license|install|source|md5sums|groups|backup|depends|makedepends|conflicts|provides|replaces|startdir)(|\}|\))"
color brightred "build\(\)"
color brightred "\<(configure|make)\>"
color red "\<(DESTDIR|PREFIX|prefix|sysconfdir|datadir|libdir|includedir|mandir)\>"

syntax "c-file" "\.(c|h)$"
color red "\<[A-Z_]{2,}\>"
color green "\<(float|char|int|void|static|const|struct)\>"
color brightyellow "\<(if|while|do|else|case|switch)\>"
color brightcyan "^#( )*(define|include|ifn?def|endif|elif|else|if)"

syntax "php" "\.php[2345s~]?$"
color brightblue "(.*)\("
color blue "\$[a-zA-Z_0-9$]*|[=!<>]"
color green "(var|class|function|echo|case|break|default|exit|switch|if|else|elseif|@|while)\s"
color green "[.,{}();]"
color red "('.*')|(\".*\")"
color brightyellow "(#.*|//.*)$"
color brightyellow start="/\*" end="\*/"
color brightblue "(<\?(php)?|\?>)"
color white start="\?>" end="<\?(php)?"

syntax "HTML" "\.html$"
color blue start="<" end=">"
color red "&[^; ]*;"

syntax "patch" "\.(patch|diff)$"
color brightgreen "^\+.*"
color green "^\+\+\+.*"
color brightblue "^ .*"
color brightred "^-.*"
color red "^---.*"
color brightyellow "^@@.*"
color magenta "^diff.*"

syntax "Java source" "\.java$"
color green "\<(boolean|byte|char|double|float|int|long|new|short|this|transient|void)\>"
color red "\<(break|case|catch|continue|default|do|else|finally|for|if|return|switch|throw|try|while)\>"
color cyan "\<(abstract|class|extends|final|implements|import|instanceof|interface|native|package|private|protected|public|static|strictfp|super|synchronized|throws|volatile)\>"
color red ""[^\"]*""
color yellow "\<(true|false|null)\>"
color blue "//.*"
color blue start="/\*" end="\*/"
color brightblue start="/\*\*" end="\*/"
color brightgreen,green " +$"

syntax "ml" ".*\.([jrs]?html?|xml|sgml?)$"
color white "^.+$"
color green start="<" end=">"
color cyan "<[^> ]+"
color cyan ">"
color yellow start="<!DOCTYPE" end="[/]?>"
color yellow start="<!--" end="-->"
color red "&[^;]*;"

syntax "lua" ".*\.lua$"
## General
color brightwhite ".+"
## Operators
color brightyellow ":|\*\*|\*|/|%|\+|-|\^|>|>=|<|<=|~=|=|\.\.|\<(not|and|or)\>"
## Statements
color brightblue "\<(do|end|while|repeat|until|if|elseif|then|else|for|in|function|local|return)\>"
## Keywords
color brightyellow "\<(debug|string|math|table|io|coroutine|os)\>\."
color brightyellow "\<(_G|_VERSION|assert|collectgarbage|dofile|error|getfenv|getmetatable|ipairs|load|loadfile|module|next|pairs|pcall|print|rawequal|rawget|rawset|require|select|setfenv|setmetatable|tonumber|tostring|type|unpack|xpcall)\s*\("
## Standard library
color brightyellow "io\.\<(close|flush|input|lines|open|output|popen|read|tmpfile|type|write)\>"
color brightyellow "math\.\<(abs|acos|asin|atan2|atan|ceil|cosh|cos|deg|exp|floor|fmod|frexp|huge|ldexp|log10|log|max|min|modf|pi|pow|rad|random|randomseed|sinh|tan)\>"
color brightyellow "os\.\<(clock|date|difftime|execute|exit|getenv|remove|rename|setlocale|time|tmpname)\>"
color brightyellow "package\.\<(cpath|loaded|loadlib|path|preload|seeall)\>"
color brightyellow "string\.\<(byte|char|dump|find|format|gmatch|gsub|len|lower|match|rep|reverse|sub|upper)\>"
color brightyellow "table\.\<(concat|insert|maxn|remove|sort)\>"
color brightyellow "coroutine\.\<(create|resume|running|status|wrap|yield)\>"
color brightyellow "debug\.\<(debug|getfenv|gethook|getinfo|getlocal|getmetatable|getregistry|getupvalue|setfenv|sethook|setlocal|setmetatable|setupvalue|traceback)\>"
## File handle methods
color brightyellow "\:\<(close|flush|lines|read|seek|setvbuf|write)\>"
## false, nil, true
color brightmagenta "\<(false|nil|true)\>"
## External files
color brightgreen "(\<(dofile|require|include)|%q|%!|%Q|%r|%x)\>"
## Numbers
color red "\<([0-9]+)\>"
## Symbols
color brightmagenta "(\(\)|\[|\]|\{|\})"
## Strings
color red "\"(\\.|[^\\\"])*\"|'(\\.|[^\\'])*'"
## Escapes
color red "\\[0-7][0-7][0-7]|\\x[0-9a-fA-F][0-9a-fA-F]|\\[abefnrs]|(\\c|\\C-|\\M-|\\M-\\C-)."
## Shebang
color brightcyan "^#!.*"
## Simple comments
color green "\-\-.*$"
## Multiline comments
color green start="\-\-\[" end="]"

## syntax highlighting in xorg.conf
##
syntax "xorg" "xorg\.conf$"
color brightwhite "(Section|EndSection|Sub[sS]ection|EndSub[sS]ection)"
# keywords
color yellow "[^A-Za-z0-9](Identifier|Screen|InputDevice|Option|RightOf|LeftOf|Driver|RgbPath|FontPath|ModulePath|Load|VendorName|ModelName|BoardName|BusID|Device|Monitor|DefaultDepth|View[pP]ort|Depth|Virtual|Modes|Mode|DefaultColorDepth|Modeline|\+vsync|\+hsync|HorizSync|VertRefresh)[^A-Za-z0-9]"
# numbers
color magenta "[0-9]"
# strings
color green ""(\\.|[^\"])*""
# comments
color white "#.*"


# Generic conf/rc/sh file syntax highlighting
#############################################
syntax "conf/rc/sh" "conf$|rc$|sh$"
color white ".+"
color green "^#.*"

# .nanorc syntax highlighting
#############################
syntax "nanorc" "[\.]*nanorc$"
color white "^ *(set|unset).*$"
color cyan "^ *(set|unset) (autoindent|backup|const|cut|fill|keypad|multibuffer|noconvert|nofollow|nohelp|nowrap|operatingdir|preserve|quotestr|regexp|smooth|speller|suspend|tabsize|tempfile|historylog|view)"
color brightwhite "^ *syntax [^ ]*"
color brightblue "^ *set\>" "^ *unset\>" "^ *syntax\>"
color white "^ *color\>.*"
color yellow "^ *color (bright)?(black|blue|cyan|green|magenta|red|white|yellow)\>"
color magenta "^ *color\>"
color green "^#.*$"

# grub.conf/cfg syntax highlighting
###############################
syntax "grub.conf/cfg" "grub\.conf|cfg"
color cyan "(^default.+|^timeout.+)"
color red "^title.+"
color yellow "(initrd.+|kernel.+|root.+)"
color green "^#.*"

# GNU makefile highlighting
syntax "mk" "(\.mk|(^|/)(GNU)?[Mm]akefile)$"

# default text
color magenta "^.*$"
# rules: command
color brightblack "^ *[^:=' ][^:=']+*::?[^=;][^;]*;\s*@"
# rules: dependency list
icolor yellow "^ *[^:=' ][^:=']+*::?[^=;][^;]*(;|$)"
# rules: target list
icolor brightyellow "^ *[^:=' ][^:=']*:"
color brightgreen "^ *\.(PHONY|SUFFIXES|DEFAULT|PRECIOUS|IGNORE|SILENT|EXPORT_ALL_VARIABLES)\s*:"
# variable definitions
icolor brightcyan "^ *(override )?[a-z0-9_][a-z0-9_-]*\s*[:+]?="
color brightblue "^ *((AR|AS|C0|CPP|CXX|LD)(FLAGS)?|(C|F|G|L|P|R|Y)FLAGS|BISON|CC|C?TANGLE|C?WEAVE|FC|FLEX|GET|INSTALL|LEX|MAKE(INFO|FILES|LEVEL|FLAGS)?|PC|RANLIB|RM|SHELL|SUFFIXES|TEX|TEXI2DVI|VPATH|YACCR?)\s*[:+]?="
icolor magenta START="^ *(override )?define" END="endef"
icolor brightcyan "^ *(override( define)?|define) [a-z0-9_-]+"
# directives
icolor cyan "^ *ifdef [a-z0-9_-]+"
color brightblack "^ *ifn?eq \(.*\)\s*$"
color magenta "^ *ifn?eq \(([^(){}]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])+"
color brightblack "^ *ifn?eq \(([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*,"
color magenta "^ *ifn?eq \(([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])+"
color brightblack "^ *(include|ifn?(eq|def)|else|end(e|i)f|override( define)?|define|vpath)( \(?|$)"
# punctuation
color brightwhite "[:+=;]"
# rules: command
icolor magenta "^[^a-z0-9_., $§'"´`\\(){}/+~*%&^°=?-].*$"
color brightblack "^\s*@"
# function calls
icolor green "\$[({][a-z-]+ ([^(){}]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])+[)}]"
icolor magenta "\$[({][a-z-]+ ([^(){}]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])+"
icolor green "\$[({](foreach|subst) ([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])+,([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*,"
icolor magenta "\$[({](foreach|subst) ([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*,([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*"
icolor green "\$[({][a-z-]+ ([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*,"
icolor magenta "\$[({][a-z-]+ ([^(){},]|[({]([^(){}]|[({][^(){}]+[)}])+[)}])*"
icolor cyan "\$[({](foreach|origin) [a-z0-9_-]+"
icolor green "\$[({]"
color green "\$[({](subst|patsubst|strip|findstring|filter(-out)?|sort|(not)?dir|suffix|basename|add(suf|pre)fix|join|words?|firstword|wildcard|foreach|origin|shell) "
# variable references
icolor cyan "\$[a-z_][a-z0-9_]*" "\$\([a-z0-9_-]+\)" "\$\{[a-z0-9_-]+\}"
icolor magenta "\$\$[a-z_][a-z0-9_]*" "\$\$\([a-z0-9_-]+\)" "\$\$\{[a-z0-9_-]+\}"
icolor cyan "\$[({]\$[({][a-z0-9_-]+[)}][)}]"
color blue "\$([@%<?^+*]|\([@*%<^?][DF]\))"
color blue "\$[({]((AR|AS|C0|CPP|CXX|LD)(FLAGS)?|(C|F|G|L|P|R|Y)FLAGS|BISON|CC|C?TANGLE|C?WEAVE|FC|FLEX|GET|INSTALL|LEX|MAKE(INFO|FILES|LEVEL|FLAGS)?|PC|RANLIB|RM|SHELL|SUFFIXES|TEX|TEXI2DVI|VPATH|YACCR?)[)}]"
color blue "\$((AR|AS|C0|CPP|CXX|LD)(FLAGS)?|(C|F|G|L|P|R|Y)FLAGS|BISON|CC|C?TANGLE|C?WEAVE|FC|FLEX|GET|INSTALL|LEX|MAKE(INFO|FILES|LEVEL|FLAGS)?|PC|RANLIB|RM|SHELL|SUFFIXES|TEX|TEXI2DVI|VPATH|YACCR?)"
# comments
color white "^\s*#.*$"
color white "#([^"'\\]|"[^"\\]*(\\.[^"\\]*)*"|['`][^']*'||\>'\<)*$"
